<!DOCTYPE html>

<body>
    <h1>Welcome to Rest API Gateway for Solar Inverter {{ version }}!</h1>
    <p>For more on how to use this API, see on <a
            href="https://github.com/mkfam7/solaxx3_api?tab=readme-ov-file#usage">Github</a>.
    </p>
    <p>For a endpoint reference guide, click <a href="/docs/">here</a>.</p>
    <p>For a sketch of this version's release notes, click <a
            href="https://github.com/mkfam7/solaxx3_api/releases/tag/{{ version }}">here</a>.</p>
    <p>To log in to the administration application, go to <a href="/admin/">/admin/</a>.</p>
</body>